# Use this file to fill in your third party roles that you'd like to have added to the list of available roles.
# Example:
#  - github_api: https://api.github.com/repos/os-cloud/opc_role-galera_client
#    name: galera_client
#    src: https://github.com/os-cloud/opc_role-galera_client
#    version: master
