# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pip>=7.1.0 # MIT
setuptools!=24.0.0,!=34.0.0,!=34.0.1,!=34.0.2,!=34.0.3,!=34.1.0,!=34.1.1,!=34.2.0,>=16.0 # PSF/ZPL
wheel # MIT
pyasn1 # BSD
pyOpenSSL>=0.14 # Apache-2.0
requests!=2.12.2,!=2.13.0,>=2.10.0 # Apache-2.0
ndg-httpsclient>=0.4.2;python_version<'3.0' # BSD
netaddr!=0.7.16,>=0.7.13 # BSD
PrettyTable<0.8,>=0.7.1 # BSD
pycrypto>=2.6 # Public Domain
python-memcached>=1.56 # PSF
PyYAML>=3.10.0 # MIT
virtualenv>=13.1.0 # MIT
