netaddr>=0.7.12         # playbooks/inventory/dynamic_inventory.py
PrettyTable>=0.7,<0.8   # scripts/inventory-manage.py
###
### These are pinned to ensure exactly the same behaviour forever!   ###
### These pins are updated through the sources-branch-updater script ###
###
pip==8.1.2
setuptools==21.1.0
wheel==0.29.0
