cloudlib>=0.3.0         # scripts/os-ansible-role-requirements.py
Jinja2>=2.6             # ansible
netaddr>=0.7.12         # playbooks/inventory/dynamic_inventory.py
paramiko>=1.13.0        # ansible
pip>=6.0
PrettyTable>=0.7,<0.8   # scripts/inventory-manage.py
pycrypto>=2.6           # ansible
PyYAML>=3.1.0           # ansible
requests>=2.2.0,!=2.4.0 # scripts/os-ansible-role-requirements.py
