# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Keep hacking first, it pulls in the right versions of flake8, mccabe and pyflakes
hacking>=3.2.0,<4.0 # Apache-2.0
bashate>=0.5.1 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
virtualenv>=14.0.6 # MIT
# TODO(noonedeadpunk) Upgrade linters versions and drop pycodestyle
# once we stop doing linters check for the integrated repo with
# openstack-ansible-tests/test-ansible-lint.sh
flake8==3.8.3 # MIT
ansible-lint==4.3.5 # MIT