import logging
import os

{% if horizon_venv_enabled | bool %}

activate_this = os.path.expanduser("{{ horizon_venv_bin }}/activate_this.py")
execfile(activate_this, dict(__file__=activate_this))

{% endif %}

import sys
from django.core.wsgi import get_wsgi_application
from django.conf import settings

# Add this file path to sys.path in order to import settings
sys.path.insert(0, os.path.join(os.path.dirname(os.path.realpath(__file__)), '../..'))
os.environ['DJANGO_SETTINGS_MODULE'] = 'openstack_dashboard.settings'
sys.stdout = sys.stderr

DEBUG = False

application = get_wsgi_application()