# {{ ansible_managed }}

lxc.start.auto = 1
lxc.start.delay = 15
lxc.group = onboot
lxc.group = rpc

# Default LXC network
lxc.network.type = {{ lxc_container_net_type }}
lxc.network.name = {{ lxc_container_net_name }}
lxc.network.link = {{ lxc_container_net_link }}
lxc.network.flags = up
lxc.network.hwaddr = 00:16:3e:xx:xx:xx
