# {{ ansible_managed }}

USE_LXC_BRIDGE="true"
LXC_BRIDGE="{{ lxc_net_bridge }}"
LXC_ADDR="{{ lxc_net_address }}"
LXC_NETMASK="{{ lxc_net_netmask }}"
LXC_NETWORK="${LXC_ADDR}/${LXC_NETMASK}"
LXC_DHCP_RANGE="{{ lxc_net_dhcp_range }}"
LXC_DHCP_MAX="{{ lxc_net_dhcp_max }}"
LXC_DNSMASQ_USER="{{ lxc_net_dnsmasq_user }}"
LXC_DHCP_CONFILE="{{ lxc_net_dhcp_config }}"
LXC_DOMAIN="{{ lxc_net_domain }}"
