[
  {rabbit, [
    {loopback_users, []},
    {% if rabbitmq_cluster_partition_handling != 'ignore' %}{cluster_partition_handling, {{ rabbitmq_cluster_partition_handling }}},{% endif %}
    {cluster_nodes, {
      [ {% for host in groups['rabbit'] %}'rabbit@{{ hostvars[host]['container_address'] }}'{% if not loop.last %}, {% endif %}{% endfor %}], disc}
    }
  ]}
].
