<!-- {{ ansible_managed }} -->
<secret ephemeral='no' private='no'>
    <uuid>{{ nova_ceph_client_uuid}}</uuid>
  <usage type='ceph'>
      <name>client.{{ nova_ceph_client }} secret</name>
  </usage>
</secret>
