{{ rsyslog_server_storage_directory }}/**/*.log
{
        copytruncate
        weekly
        missingok
        rotate 14
        compress
        dateext
        maxage 60
        notifempty
        nocreate
}
