{% for net in host_networks %}
{% if net.type == "raw" %}
auto {{ net.device_name }}
iface {{ net.device_name }} inet manual
{% if net.bond_master is defined %}
    bond-master {{ net.bond_master }}
{% if net.bond_primary is defined and net.bond_primary == true %}
    bond-primary {{ net.device_name }}
{% endif %}
{% else %}
{% if net.address is defined %}
    address {{ net.address }}
{% endif %}
{% if net.gateway is defined %}
    gateway {{ net.gateway }}
{% endif %}
{% if net.netmask is defined %}
    netmask {{ net.netmask }}
{% endif %}
{% if net.dns_nameservers is defined %}
    dns-nameservers {{ net.dns_nameservers|join(' ') }}
{% endif %}
{% if net.dns_search is defined %}
    dns-search {{ net.dns_search|join(' ') }}
{% endif %}
{% endif %}

{% elif net.type == "vlan_tagged" %}
iface {{ net.tagged_device_name }} inet manual
    vlan-raw-device {{ net.device_name }}

{% elif net.type == "bonded" %}
auto {{ net.device_name }}
iface {{ net.device_name }} inet static
    bond-slaves none
    bond-mode {{ net.mode|default('active-backup') }}
    bond-miimon {{ net.miimon|default('100') }}
    bond-downdelay {{ net.downdelay|default('200') }}
    bond-updelay {{ net.updelay|default('200') }}
{% if net.address is defined %}
    address {{ net.address }}
{% endif %}
{% if net.gateway is defined %}
    gateway {{ net.gateway }}
{% endif %}
{% if net.netmask is defined %}
    netmask {{ net.netmask }}
{% endif %}
{% if net.dns_nameservers is defined %}
    dns-nameservers {{ net.dns_nameservers|join(' ') }}
{% endif %}
{% if net.dns_search is defined %}
    dns-search {{ net.dns_search|join(' ') }}
{% endif %}

{% elif net.type == "bridged" %}
auto {{ net.device_name }}
iface {{ net.device_name }} inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ net.bridge_ports|join(',') }}
{% if net.address is defined %}
    address {{ net.address }}
{% endif %}
{% if net.gateway is defined %}
    gateway {{ net.gateway }}
{% endif %}
{% if net.netmask is defined %}
    netmask {{ net.netmask }}
{% endif %}
{% if net.dns_nameservers is defined %}
    dns-nameservers {{ net.dns_nameservers|join(' ') }}
{% endif %}
{% if net.dns_search is defined %}
    dns-search {{ net.dns_search|join(' ') }}
{% endif %}

{% elif net.type == "aliased" %}
auto {{ net.device_name }}
iface {{ net.device_name }} inet static
{% if net.address is defined %}
    address {{ net.address }}
{% endif %}
{% if net.gateway is defined %}
    gateway {{ net.gateway }}
{% endif %}
{% if net.netmask is defined %}
    netmask {{ net.netmask }}
{% endif %}
{% if net.dns_nameservers is defined %}
    dns-nameservers {{ net.dns_nameservers|join(' ') }}
{% endif %}
{% if net.dns_search is defined %}
    dns-search {{ net.dns_search|join(' ') }}
{% endif %}
{% endif %}

{% endfor %}
