# {{ ansible_managed }}

[DEFAULT]
debug = {{ debug }}
verbose = {{ verbose }}
fatal_deprecations = {{ tempest_fatal_deprecations }}
log_file = /var/log/utility/tempest.log
use_stderr = false


[auth]
tempest_roles = remote_image
allow_tenant_isolation = True


[baremetal]


[boto]
aki_manifest = cirros-{{ cirros_version }}-x86_64-vmlinuz.manifest.xml
ami_manifest = cirros-{{ cirros_version }}-x86_64-blank.img.manifest.xml
ari_manifest = cirros-{{ cirros_version }}-x86_64-initrd.manifest.xml
ec2_url = {{ tempest_boto_ec2_url }}
s3_url = {{ tempest_boto_s3_url }}
instance_type = tempest1
s3_materials_path = /opt/images/s3-materials/cirros-{{ cirros_version }}


[cli]
enabled = true
cli_dir = /usr/local/bin
has_manage = false
timeout = 15


[compute]
image_ref = {{ tempest_glance_image_id }}
image_ref_alt = {{ tempest_glance_image_id }}
flavor_ref = 201
flavor_ref_alt = 202
image_ssh_user = {{ tempest_compute_image_ssh_user }}
image_ssh_password = {{ tempest_compute_image_ssh_password }}
image_alt_ssh_user = {{ tempest_compute_image_alt_ssh_user }}
auth_method = keypair
fixed_network_name = private
endpoint_type = internalURL
floating_ip_range = 10.0.0.0/29


[compute-feature-enabled]
change_password = {{ tempest_compute_change_password }}
console_output = {{ tempest_compute_console_output_enabled }}
resize = {{ tempest_compute_resize_enabled }}
pause = false
shelve = false
suspend = false
live_migration = false
block_migration_for_live_migration = false
block_migrate_cinder_iscsi = false
spice_console = true
rescue = false
enable_instance_password = {{ tempest_enable_instance_password }}
interface_attach = false
snapshot = {{ tempest_compute_resize_enabled }}


[dashboard]
login_url = {{ tempest_dashboard_login_url }}
dashboard_url = {{ tempest_dashboard_url }}


[data_processing]


[database]


[debug]


[identity]
disable_ssl_certificate_validation = {{ keystone_service_internaluri_insecure | bool }}
uri = {{ keystone_service_internalurl }}
uri_v3 = {{ keystone_service_internalurl_v3 }}
auth_version = v3
v2_public_endpoint_type = internalURL
endpoint_type = internalURL
username = demo
tenant_name = demo
admin_role = admin
password = demo
domain_name = Default
alt_username = alt_demo
alt_tenant_name = alt_demo
alt_password = alt_demo
alt_domain_name = Default
admin_username = {{ keystone_admin_user_name }}
admin_tenant_name = {{ keystone_admin_tenant_name }}
admin_password = {{ keystone_auth_admin_password }}
admin_domain_name = Default


[identity-feature-enabled]
trust = false


[image]
endpoint_type = internalURL
http_image = {{ cirros_tgz_url }}


[image-feature-enabled]
api_v1 = {{ tempest_image_api_v1_enabled }}
api_v2 = {{ tempest_image_api_v2_enabled }}


[input-scenario]


[messaging]


[negative]


[network]
endpoint_type = internalURL
tenant_network_cidr = {{ tempest_private_subnet_cidr }}
tenant_network_mask_bits = 24
tenant_networks_reachable = false
public_network_id = {{ tempest_neutron_public_network_id }}
floating_network_name = public


[network-feature-enabled]
ipv6 = false
api_extensions = agent,allowed-address-pairs,binding,dhcp_agent_scheduler,ext-gw-mode,external-net,extra_dhcp_opt,extra_dhcp_optagent,extraroute,l3_agent_scheduler,metering,provider,quotas,router,security-group,service-type


[object-storage]
endpoint_type = internalURL
operator_role = swiftoperator
reseller_admin_role = reseller_admin


[object-storage-feature-enabled]
container_sync = {{ tempest_swift_container_sync }}
object_versioning = {{ tempest_swift_object_versioning }}
discoverable_apis = {{ tempest_swift_discoverable_apis | join(' ') }}


[orchestration]
endpoint_type = internalURL
instance_type = tempest1


[oslo_concurrency]
lock_path = {{ tempest_git_dest }}/locks


[scenario]
aki_img_file = cirros-{{ cirros_version }}-x86_64-vmlinuz
ari_img_file = cirros-{{ cirros_version }}-x86_64-initrd
ami_img_file = cirros-{{ cirros_version }}-x86_64-blank.img
img_dir = {{ tempest_image_dir }}
img_file = cirros-{{ cirros_version }}-x86_64-disk.img
ssh_user = {{ tempest_compute_image_ssh_user }}


[service_available]
cinder = {{ tempest_service_available_cinder }}
neutron = {{ tempest_service_available_neutron }}
glance = {{ tempest_service_available_glance }}
swift = {{ tempest_service_available_swift }}
nova = {{ tempest_service_available_nova }}
heat = {{ tempest_service_available_heat }}
ceilometer = {{ tempest_service_available_ceilometer }}
horizon = {{ tempest_service_available_horizon }}


[stress]


[telemetry]
endpoint_type = internalURL


[validation]
run_validation = {{ tempest_compute_run_ssh }}


[volume]
endpoint_type = internalURL
# NOTE: These backends are only tested when multi_backend is enabled
backend1_name = {{ tempest_volume_backend1_name }}
backend2_name = {{ tempest_volume_backend2_name }}


[volume-feature-enabled]
backup = {{ tempest_volume_backup_enabled }}
snapshot = false
multi_backend = {{ tempest_volume_multi_backend_enabled }}
