#!/usr/bin/env bash
# Copyright 2014, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

source /etc/os-release || source /usr/lib/os-release

case "${ID}" in
    *suse*) INTERFACE="${1}"; ;;
    centos|rhel|fedora) INTERFACE="${DEVICE}"; ;;
    *) echo "Unsupported distribution ${ID}"; exit 1;
esac

_ip=$(which ip 2>/dev/null || { echo "Failed to find ip executable"; exit 1; })

if [ "${INTERFACE}" == "{{ item[1].name | default('br-mgmt') }}" ]; then
    eval $_ip link set {{ item[1].name | default('br-mgmt') }}-veth nomaster || true
    eval $_ip link del {{ item[1].name | default('br-mgmt') }}-veth || true
fi
