# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

tempest_plugins:
  - name: manila-tempest-plugin
    repo: https://opendev.org/openstack/manila-tempest-plugin
    branch: master

tempest_test_whitelist:
  - manila_tempest_tests.tests.scenario.test_share_basic_ops

tempest_tempest_conf_overrides:
  share:
    image_with_share_tools: manila-service-image
    image_password: manila
    enable_protocols: nfs
    enable_ip_rules_for_protocols: nfs
    enable_ro_access_level_for_protocols: nfs
    suppress_errors_in_cleanup: true
    share_creation_retry_number: 3
    run_ipv6_tests: False

manila_backends:
  nfs-share1:
    share_backend_name: NFS_SHARE1
    share_driver: manila.share.drivers.lvm.LVMShareDriver
    driver_handles_share_servers: False
    lvm_share_volume_group: manila-shares
    lvm_share_export_ips: 172.29.244.100
  generic:
    share_backend_name: GENERIC
    share_driver: manila.share.drivers.generic.GenericShareDriver
    driver_handles_share_servers: True
    service_instance_flavor_id: 100
    service_image_name: manila-service-image
    service_instance_user: manila
    service_instance_password: manila
    interface_driver: manila.network.linux.interface.BridgeInterfaceDriver
