{% include 'user_variables.aio.yml.j2' %}

# Trove settings for translations site.
trove_provider_net_name: flat-db
trove_service_net_phys_net: flat-db
trove_service_net_setup: True
trove_service_net_subnet_cidr: "172.29.232.0/22"
trove_service_net_allocation_pool_start: "172.29.233.110"
trove_service_net_allocation_pool_end: "172.29.233.200"
