---
# Copyright 2020, VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

magnum_glance_images:
  - name: fedora-coreos-latest
    disk_format: qcow2
    image_format: bare
    public: true
    file: https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/33.20210117.3.2/x86_64/fedora-coreos-33.20210117.3.2-openstack.x86_64.qcow2.xz
    distro: "fedora-coreos"
    checksum: "sha256:e7604b7ca881b01befa3a3759b40b17836cafc1cb521c00f3cddef4dc1229595"

magnum_cluster_templates:
  - name: k8s
    cloud: default
    coe: kubernetes
    docker_volume_size: 10
    flavor_id: s1.magnum
    master_flavor_id: m1.magnum
    network_driver: flannel
    volume_driver: cinder
    image_id: fedora-coreos-latest
    labels:
      kube_tag: v1.18.2
      etcd_tag: 3.3.17
      kube_version: v1.18.2
      boot_volume_size: 10
      cloud_provider_tag: v1.15.0

magnum_flavors:
  - name: s1.magnum
    cloud: default
    ram: 256
    vcpus: 1
    disk: 5
  - name: m1.magnum
    cloud: default
    ram: 512
    vcpus: 1
    disk: 5

tempest_test_whitelist:
  - magnum_tempest_plugin.tests


# NOTE(noonedeadpunk): We comment these tests out because of weird magnum things happening like
# http://paste.openstack.org/show/790131/
# But when "b''" around auth toke is dropped, everything is fine.
tempest_test_blacklist:
  - magnum_tempest_plugin.tests.api.v1.test_cluster.ClusterTest.test_create_list_sign_delete_clusters
  - magnum_tempest_plugin.tests.api.v1.test_cluster.ClusterTest.test_create_cluster_with_nonexisting_flavor

tempest_tempest_conf_overrides:
  magnum:
    coe: kubernetes
    network_driver: flannel
    master_flavor_id: m1.magnum
    flavor_id: s1.magnum
    image_id: fedora-coreos-latest
    magnum_url: http://172.29.236.100:9511
