# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

tempest_test_whitelist:
  - octavia_tempest_plugin.tests.scenario.v2.test_load_balancer.LoadBalancerScenarioTest

octavia_octavia_conf_overrides:
  health_manager:
    failover_threads: 2
    health_update_threads: 2
    stats_update_threads: 2

octavia_ssh_enabled: True
octavia_legacy_policy: True
octavia_amp_vcpu: 2
octavia_amp_ram: 512
tempest_run_concurrency: 0
tempest_service_available_octavia: true
tempest_tempest_conf_overrides:
  load_balancer:
    member_role: '"Member"'
    load_balancer.test_with_ipv6: false
    endpoint_type: internalURL
