# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

neutron_plugin_type: ml2.ovs

neutron_ml2_drivers_type: "vxlan,vlan,flat"

neutron_plugin_base:
  - router
  - metering

tempest_run_concurrency: 0
tempest_test_includelist:
  - "neutron_tempest_plugin.api.test_networks*"
  - "tempest.scenario.test_network_basic_ops.TestNetworkBasicOps.test_network_basic_ops"
tempest_private_net_provider_type: vxlan
tempest_network_ping_gateway: True
tempest_public_net_physical_name: vlan
tempest_tempest_conf_overrides:
  network-feature-enabled:
    api_extensions: agent,allowed-address-pairs,binding,dhcp_agent_scheduler,ext-gw-mode,external-net,extra_dhcp_opt,extra_dhcp_optagent,extraroute,l3_agent_scheduler,metering,provider,quotas,router,security-group,service-type,subnet_allocation
