---
# Copyright 2020, VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% if 'k8s' in bootstrap_host_scenarios_expanded %}
# Tempest alongside capi testing takes too long
tempest_install: False
{%   if zuul_vars.kubernetes_version | default('') | length > 0 %}
functional_test_k8s_version: "{{ zuul_vars.kubernetes_version }}"
{%   endif %}
{%   if 'vexxhost' in bootstrap_host_scenarios_expanded %}
magnum_k8s_driver: "vexxhost"
post_setup_openstack_hook: /etc/ansible/roles/os_magnum/tests/functional_test.yml
{%   elif 'azimuth' in bootstrap_host_scenarios_expanded %}
magnum_k8s_driver: "azimuth"
{%   endif %}
{% endif %}
