---
# Copyright 2019, VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

tempest_test_includelist:
  - murano_tempest_tests.tests.api.application_catalog.test_services

tempest_tempest_conf_overrides:
  application_catalog:
    deployment_tests: True
    endpoint_type: internalURL
    linux_image: cirros

tempest_flavors:
  - name: m1.tiny
    id: 203
    ram: 256
    disk: 5
    vcpus: 1
