---
# Copyright 2019, Logan Vig <logan2211@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

nova_network_type: calico
neutron_plugin_type: ml2.calico

neutron_provider_networks:
  network_types: local

# NOTE(logan): This is a workaroun for a bug in networking-calico, which
# sends None as the user and project domain name if none is specified in
# neutron.conf.
neutron_neutron_conf_overrides:
  keystone_authtoken:
    user_domain_name: Default
    project_domain_name: Default

tempest_private_net_provider_type: "local"
tempest_private_net_seg_id: ''
tempest_public_net_provider_type: "local"
tempest_public_net_physical_type: ''
