# {{ ansible_managed }}

[client]
host     = localhost
user     = root
password = {{ galera_root_password }}
socket   = /var/run/mysqld/mysqld.sock

[mysql_upgrade]
host     = localhost
user     = root
password = {{ galera_root_password }}
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
