require 'spec_helper'

os_packages  = %w( python-software-properties python-dev build-essential
                   git-core rsyslog lvm2 libssl-dev bridge-utils cgroup-lite
                   sqlite3 iptables sshpass libffi-dev libxml2-dev libxslt1-dev
                   mariadb-client libmariadbclient-dev )

os_packages.each do |os|
  describe package(os) do
    it { should be_installed }
  end
end
