require 'spec_helper'

os_packages  = %w( rsync libxslt1.1 )

pip_packages = %w( MySQL-python python-heatclient python-keystoneclient
                   python-troveclient python-ceilometerclient )

directories  = %w( /etc/heat /etc/heat/environment.d /etc/heat/templates
                   /var/cache/heat /var/lib/heat /var/log/heat )

conf_files   = %w( heat.conf environment.d/default.yaml
                   templates/AWS_CloudWatch_Alarm.yaml
                   templates/AWS_RDS_DBInstance.yaml api-paste.ini policy.json )

os_packages.each do |os|
  describe package(os) do
    it { should be_installed }
  end
end

pip_packages.each do |pip|
  describe package(pip) do
    it { should be_installed.by('pip') }
  end
end

describe user('heat') do
  it { should exist }
end

describe group('heat') do
  it { should exist }
end

directories.each do |d|
  describe file(d) do
    it { should be_directory }
    it { should be_owned_by 'heat' }
    it { should be_grouped_into 'heat' }
  end
end

conf_files.each do |f|
  describe file("/etc/heat/#{f}") do
    it { should be_file }
    it { should be_owned_by 'heat' }
    it { should be_grouped_into 'heat' }
  end
end
