require 'spec_helper'

os_packages  = %w( apache2 apache2-utils libapache2-mod-wsgi libssl-dev
                   libxslt1.1 )

pip_packages = %w( oslo.config MySQL-python )
                  

directories  = %w( /opt/horizon /opt/horizon/lib/python2.7/site-packages)

conf_files   = %w( /etc/apache2/sites-available/openstack-dashboard.conf
                   /opt/horizon/lib/python2.7/site-packages/openstack_dashboard/local/local_settings.py )

os_packages.each do |os|
  describe package(os) do
    it { should be_installed }
  end
end

pip_packages.each do |pip|
  describe package(pip) do
    it { should be_installed.by('pip') }
  end
end

describe user('www-data') do
  it { should exist }
end

describe group('www-data') do
  it { should exist }
end

directories.each do |d|
  describe file(d) do
    it { should be_directory }
    it { should be_owned_by 'www-data' }
    it { should be_grouped_into 'www-data' }
  end
end

conf_files.each do |f|
  describe file(f) do
    it { should be_file }
    it { should be_owned_by 'www-data' }
    it { should be_grouped_into 'www-data' }
  end
end

describe file('/etc/apache2/sites-enabled/openstack-dashboard.conf') do
  it { be_linked_to '/etc/apache2/sites-available/openstack-dashboard.conf' }
end

describe service('apache2') do
  it { should be_enabled }
  it { should be_running }
end

describe port(80) do
  it { should be_listening }
end
