require 'spec_helper'

describe service('apache2') do
  it { should be_enabled }
  it { should be_running }
end

describe port(5000) do
  it { should be_listening }
end

describe port(35357) do
  it { should be_listening }
end
