require 'spec_helper'

os_packages  = %w( libpq-dev dnsmasq-base )

pip_packages = %w( MySQL-python repoze.lru python-novaclient
                   python-neutronclient python-keystoneclient )

directories  = %w( /etc/neutron /etc/neutron/plugins /etc/neutron/plugins/ml2
                   /var/cache/neutron /var/lib/neutron /var/lock/neutron
                   /var/log/neutron /var/run/neutron )

conf_files   = %w( neutron.conf metadata_agent.ini l3_agent.ini dhcp_agent.ini
                   plugins/ml2/ml2_conf.ini )

os_packages.each do |os|
  describe package(os) do
    it { should be_installed }
  end
end

pip_packages.each do |pip|
  describe package(pip) do
    it { should be_installed.by('pip') }
  end
end

describe user('neutron') do
  it { should exist }
end

describe group('neutron') do
  it { should exist }
end

directories.each do |d|
  describe file(d) do
    it { should be_directory }
    it { should be_owned_by 'neutron' }
    it { should be_grouped_into 'neutron' }
  end
end

conf_files.each do |f|
  describe file("/etc/neutron/#{f}") do
    it { should be_file }
    it { should be_owned_by 'neutron' }
    it { should be_grouped_into 'neutron' }
  end
end
