require 'spec_helper'

describe service('nova-compute') do
  it { should be_enabled }
  it { should be_running }
end

describe process('nova-compute') do
  it { should be_running }
end

describe package('genisoimage') do
  it { should be_installed }
end

# really wish we could do with_version(/1.2.2/) :(
describe package('libvirt-bin') do
  it { should be_installed.with_version('1.2.2-0ubuntu13.1.1') }
end

describe package('python-libvirt') do
  it { should be_installed.with_version('1.2.2-0ubuntu1') }
end

%w( qemu qemu-utils ).each do |qcow_pkg|
  describe package(qcow_pkg) do
    it { should be_installed.with_version('2.0.0+dfsg-2ubuntu1.1') }
  end
end
