{% for log_file in log_files.stdout_lines %}
{{ log_file }}
{% endfor %}
{
        copytruncate
        weekly
        missingok
        rotate 14
        compress
        dateext
        maxage 60
        notifempty
        nocreate
}
