[DEFAULT]
disable_process_locking = false
lock_path = /opt/{{ repo_path }}/locks
debug = False
verbose = True
log_file = /var/log/utility/tempest.log
use_stderr = False
fatal_deprecations = true


[auth]
tempest_roles = remote_image
allow_tenant_isolation = True


[baremetal]


[boto]
aki_manifest = cirros-0.3.2-x86_64-vmlinuz.manifest.xml
ami_manifest = cirros-0.3.2-x86_64-blank.img.manifest.xml
ari_manifest = cirros-0.3.2-x86_64-initrd.manifest.xml
build_timeout = 600
ec2_url = http://134.213.136.181:8773/services/Cloud
instance_type = tempest1
http_socket_timeout = 30
s3_url = http://134.213.136.181:3333
s3_materials_path = {{ tempest_image_dir }}


[cli]
enabled = true
cli_dir = /usr/local/bin
has_manage = false
timeout = 15


[compute]
build_interval = 1
build_timeout = 600
catalog_type = compute
catalog_v3_type = computev3
endpoint_type = internalURL
fixed_network_name = private
flavor_ref = 201
flavor_ref_alt = 202
floating_ip_range = 10.0.10.0/29
image_alt_ssh_password = cubswin:)
image_alt_ssh_user = cirros
image_ref = {{ hostvars[groups['utility_all'][0]]['glance_images']['cirros']['id'] }}
image_ref_alt = {{ hostvars[groups['utility_all'][0]]['glance_images']['cirros']['id'] }}
image_ssh_password = cubswin:)
image_ssh_user = cirros
ip_version_for_ssh = 4
network_for_ssh = private
ping_timeout = 240
run_ssh = false
ssh_auth_method = configured
ssh_connect_method = floating
ssh_timeout = 196
ssh_user = cirros
use_floatingip_for_ssh = true
volume_device_name = vdb


[compute-admin]
tenant_name = {{ auth_admin_tenant }}
password = {{ auth_admin_password }}
username = {{ auth_admin_username }}


[compute-feature-enabled]
api_extensions = all
api_v3 = false
api_v3_extensions = all
block_migrate_cinder_iscsi = false
block_migration_for_live_migration = false
change_password = false
console_output = false
disk_config = true
enable_instance_password = false
interface_attach = false
live_migration = false
pause = false
rdp_console = false
rescue = false
resize = false
shelve = false
snapshot = false
spice_console = true
suspend = false
vnc_console = false


[dashboard]
login_url = http://{{ external_vip_address }}/auth/login/
dashboard_url = http://{{ external_vip_address }}/


[data_processing]


[database]


[debug]
enable = true


[identity]
admin_domain_name = Default
admin_password = {{ auth_admin_password }}
admin_role = admin
admin_tenant_name = {{ auth_admin_tenant }}
admin_username = {{ auth_admin_username }}
admin_tenant_id = {{ keystone_admin_tenant_id }}
alt_tenant_name = alt_demo
alt_password = alt_demo
alt_username = alt_demo
auth_version = v2
catalog_type = identity
disable_ssl_certificate_validation = false
endpoint_type = internalURL
password = demo
tenant_name = demo
uri_v3 = {{ auth_identity_uri_v3 }}
uri = {{ auth_identity_uri }}
username = demo


[identity-feature-enabled]
api_v2 = true
api_v3 = false
trust = false


[image]
catalog_type = image
endpoint_type = internalURL
http_image = http://download.cirros-cloud.net/0.3.1/cirros-0.3.1-x86_64-uec.tar.gz


[image-feature-enabled]
api_v1 = true
api_v2 = false


[input-scenario]


[negative]


[messaging]


[network]
build_interval = 1
build_timeout = 300
catalog_type = network
dns_servers = 8.8.8.8,8.8.4.4
endpoint_type = internalURL
public_network_id = {{ hostvars[groups['utility_all'][0]]['neutron_networks']['public']['id'] }}
tenant_network_cidr = {{ tempest_private_subnet_cidr }}
tenant_networks_reachable = false


[network-feature-enabled]
api_extensions = agent,allowed-address-pairs,binding,dhcp_agent_scheduler,ext-gw-mode,external-net,extra_dhcp_opt,extra_dhcp_optagent,extraroute,l3_agent_scheduler,metering,provider,quotas,router,security-group,service-type
ipv6_subnet_attributes = false
ipv6 = false


[object-storage]
catalog_type = object-store
container_sync_interval = 5
container_sync_timeout = 120
endpoint_type = internalURL
operator_role = swiftoperator
reseller_admin_role = reseller_admin


[object-storage-feature-enabled]
container_sync = false
object_versioning = false
discoverable_apis = all


[orchestration]
build_interval = 1
build_timeout = 900
catalog_type = orchestration
endpoint_type = internalURL
image_ref = {{ hostvars[groups['utility_all'][0]]['glance_images']['cirros']['id'] }}
instance_type = tempest1


[queuing]


[scenario]
large_ops_number = 0
aki_img_file = cirros-0.3.2-x86_64-vmlinuz
ari_img_file = cirros-0.3.2-x86_64-initrd
ami_img_file = cirros-0.3.2-x86_64-blank.img
img_container_format = bare
img_dir = {{ tempest_image_dir }}
img_disk_format = qcow2
img_file = cirros-0.3.2-x86_64-disk.img
ssh_user = cirros


[service_available]
neutron = True
heat = True
ceilometer = False
{% if hostvars[groups['utility_all'][0]]['tempest_run_swift_tests'] == True %}
swift = True
{% else %}
swift = False
{% endif %}
cinder = True
nova = True
glance = True
horizon = True
sahara = False
ironic = False


[stress]


[telemetry]


[volume]
backend1_name = lvm
build_interval = 1
build_timeout = 600
catalog_type = volume
disk_format = raw
endpoint_type = internalURL
storage_protocol = iSCSI
vendor_name = Open Source
volume_size = 1


[volume-feature-enabled]
api_extensions = all
api_v1 = true
api_v2 = false
backup = false
multi_backend = false
snapshot = false
