[
  {rabbit, [
    {loopback_users, []},
    {cluster_nodes, {
      [ {% for host in groups['rabbitmq_all'] %}'rabbit@{{ hostvars[host]['ansible_ssh_host'] }}'{% if not loop.last %}, {% endif %}{% endfor %}], disc}
    }
  ]}
].
