# {{ ansible_managed }}

{% if ansible_os_family | lower == "redhat" %}
{% set program_bin = "/usr/bin" %}
{% else %}
{% set program_bin = "/usr/local/bin" %}
{% endif %}

{{ cinder_system_user_name }} ALL = (root) NOPASSWD: {{ program_bin }}/{{ cinder_service_name }}-rootwrap
