#!/bin/sh
printf "\n\n**************
WARNING: This is an OpenStack Private Cloud device.
Please log out if you are not familiar with these environments.
Contact 700-NOVA if you have any questons.
**************\n\n"
