{% set tunnel_interfaces = [] %}
{% for net in provider_networks %}
{% if net.network.container_interface not in tunnel_interfaces %}
  {% if net.network.type == 'vxlan' %}
    {% if tunnel_interfaces.append(net.network.container_interface) %}{% endif %}
  {% endif %}
{% endif %}
{% endfor %}

# Found Tunnel interfaces which have been assigned the tunnel_address
# Devices: {{ tunnel_interfaces }}
{% set used_interfaces = [] %}
{% for net in provider_networks %}
{% if net.network.container_interface not in used_interfaces %}
  {% if used_interfaces.append(net.network.container_interface) %}{% endif %}

auto {{ net.network.container_interface }}
{% if net.network.container_interface in tunnel_interfaces %}
iface {{ net.network.container_interface }} inet static
    address {{ tunnel_address }}
    netmask {{ net.network.subnetmask|default('255.255.255.0') }}
{% else %}
iface {{ net.network.container_interface }} inet manual
{% endif %}
{% endif %}
{% endfor %}
