# {{ ansible_managed }}

{% set _api_threads = ansible_processor_vcpus|default(2) // 2 %}
{% set api_threads = _api_threads if _api_threads > 0 else 1 %}

[DEFAULT]
{% set repl_bridge = 'ansible_' + swift.replication_network|replace('-', '_') %}
bind_ip = {{ hostvars[inventory_hostname][repl_bridge]['ipv4']['address'] }}
bind_port = {{ swift_account_port }}
devices = {{ swift_vars.mount_point | default(swift.mount_point) }}
workers = {{ swift_account_server_replicator_workers | default(api_threads) }}
log_facility = LOG_LOCAL2

[pipeline:main]
pipeline = account-server

[app:account-server]
use = egg:swift#account
replication_server = True

[account-replicator]
log_facility = LOG_LOCAL2
per_diff = 10000
