# {{ ansible_managed }}

# Uncomment the following to have a log containing all logs together
#local1,local2,local3,local4.*   /var/log/swift/all.log

# Uncomment the following to have hourly proxy logs for stats processing
#$template HourlyProxyLog,"/var/log/swift/hourly/%$YEAR%%$MONTH%%$DAY%%$HOUR%"
#local1.*;local1.!notice ?HourlyProxyLog

local1.*;local1.!notice /var/log/swift/proxy.log
local1.notice           /var/log/swift/proxy-error.log
local1.*                ~

local2.*;local2.!notice /var/log/swift/account.log
local2.notice           /var/log/swift/account-error.log
local2.*                ~

local3.*;local3.!notice /var/log/swift/container.log
local3.notice           /var/log/swift/container-error.log
local3.*                ~

local4.*;local4.!notice /var/log/swift/object.log
local4.notice           /var/log/swift/object-error.log
local4.*                ~
