# {{ ansible_managed }}

[swift-hash]
swift_hash_path_suffix = {{ swift_hash_path_suffix }}
swift_hash_path_prefix = {{ swift_hash_path_prefix }}


# Storage Policies
{% for policy in swift.storage_policies %}
{% set swift_policy_type = policy.policy.policy_type|default('replication') %}

[storage-policy:{{ policy.policy.index }}]
name = {{ policy.policy.name }}
policy_type = {{ swift_policy_type }}

{% if swift_policy_type == 'erasure_coding' %}
ec_type = {{ policy.policy.ec_type }}
ec_num_data_fragments = {{ policy.policy.ec_num_data_fragments }}
ec_num_parity_fragments = {{ policy.policy.ec_num_parity_fragments }}
ec_object_segment_size = {{ policy.policy.ec_object_segment_size }}
{% endif %}

{% if policy.policy.deprecated is defined %}
deprecated = {{ policy.policy.deprecated }}
{% endif %}

{% if policy.policy.default is defined %}
default = {{ policy.policy.default }}
{% endif %}

{% endfor %}


[swift-constraints]
