require 'spec_helper'

# We run these checks from the utility container as this means we only have
# to drop openrc and install python-keystone client on a single container.

describe command('source ~/openrc && keystone service-get {{ service_name }}') do
  it { should return_exit_status 0 }
end

describe command('source ~/openrc && keystone endpoint-get --service {{ service_type }}') do
  it { should return_exit_status 0 }
end

describe command('source ~/openrc && keystone user-get {{ service_admin_username }}') do
  it { should return_exit_status 0 }
end
