# {{ ansible_managed }}

auth,authpriv.*    /var/log/auth.log
*.*;local7.none;auth,authpriv.none    /var/log/syslog
syslog.*    /var/log/rsyslog.log #rsyslog error messages
kern.*    /var/log/kern.log
mail.*    /var/log/mail.log
#user.*    /var/log/user.log

mail.err    /var/log/mail.err

news.crit    /var/log/news/news.crit
news.err    /var/log/news/news.err
news.notice    /var/log/news/news.notice

*.emerg    :omusrmsg:*
