---
container_skel:
  aodh_container:
    properties:
      is_metal: true
  barbican_container:
    properties:
      is_metal: true
  blazar_container:
    properties:
      is_metal: true
  ceilometer_central_container:
    properties:
      is_metal: true
  ceph-mon_container:
    properties:
      is_metal: true
  ceph-rgw_container:
    properties:
      is_metal: true
  cinder_api_container:
    properties:
      is_metal: true
  cinder_volumes_container:
    properties:
      is_metal: true
  designate_container:
    properties:
      is_metal: true
  etcd_container:
    properties:
      is_metal: true
  galera_container:
    properties:
      is_metal: true
  glance_container:
    properties:
      is_metal: true
  gnocchi_container:
    properties:
      is_metal: true
  haproxy_container:
    properties:
      is_metal: true
  heat_api_container:
    properties:
      is_metal: true
  horizon_container:
    properties:
      is_metal: true
  ironic_api_container:
    properties:
      is_metal: true
  ironic_compute_container:
    properties:
      is_metal: true
  keystone_container:
    properties:
      is_metal: true
  magnum_container:
    properties:
      is_metal: true
  manila_container:
    properties:
      is_metal: true
  manila_data_container:
    properties:
      is_metal: true
  masakari_api_container:
    properties:
      is_metal: true
  masakari_monitors_container:
    properties:
      is_metal: true
  memcached_container:
    properties:
      is_metal: true
  metering-compute_container:
    properties:
      is_metal: true
  mistral_container:
    properties:
      is_metal: true
  murano_container:
    properties:
      is_metal: true
  neutron_agents_container:
    properties:
      is_metal: true
  neutron_server_container:
    properties:
      is_metal: true
  nova_api_container:
    properties:
      is_metal: true
  nova_compute_container:
    properties:
      is_metal: true
  octavia_server_container:
    properties:
      is_metal: true
  placement_container:
    properties:
      is_metal: true
  repo_container:
    properties:
      is_metal: true
  qdrouterd_container:
    properties:
      is_metal: true
  rabbit_mq_container:
    properties:
      is_metal: true
  sahara_container:
    properties:
      is_metal: true
  swift_remote_container:
    properties:
      is_metal: true
  swift_proxy_container:
    properties:
      is_metal: true
  swift_acc_container:
    properties:
      is_metal: true
  swift_obj_container:
    properties:
      is_metal: true
  swift_cont_container:
    properties:
      is_metal: true
  tacker_container:
    properties:
      is_metal: true
  trove_api_container:
    properties:
      is_metal: true
  unbound_container:
    properties:
      is_metal: true
  utility_container:
    properties:
      is_metal: true
  zun_api_container:
    properties:
      is_metal: true
  zun_compute_container:
    properties:
      is_metal: true
