[DEFAULT]
verbose = {{ verbose }}
debug = {{ debug }}
admin_token = {{ auth_admin_token }}
bind_host = 0.0.0.0
# The port number which the public service listens on
public_port = {{ auth_public_port }}
# The port number which the public admin listens on
admin_port = {{ auth_port }}
{% if keystone_public_endpoint is defined %}
public_endpoint = {{ keystone_public_endpoint }}
{% endif %}
admin_endpoint = {{ auth_protocol }}://{{ internal_vip_address }}:{{ auth_port }}/
log_file = keystone.log
log_dir = /var/log/keystone
rabbit_hosts = {{ rabbit_hosts }}
rabbit_userid = {{ rabbit_userid }}
rabbit_password = {{ rabbit_password }}
rpc_backend = {{ rpc_backend }}

[memcache]
servers = {% for host in groups['memcached'] %}{{ hostvars[host]['container_address'] }}:{{ memcached_port|default('11211') }}{% if not loop.last %},{% endif %}{% endfor %}

max_compare_and_set_retry = 16

[cache]
backend = dogpile.cache.memcached
backend_argument = url:{% for host in groups['memcached'] %}{{ hostvars[host]['container_address'] }}{% if not loop.last %},{% endif %}{% endfor %}:{{ memcached_port }}
config_prefix = cache.keystone
distributed_lock = True
expiration_time = 5400
enabled = true

[revoke]
expiration_buffer = 1800
caching = true

[auth]
methods = {{ auth_methods }}

[database]
connection = mysql://{{ container_mysql_user }}:{{ container_mysql_password }}@{{ mysql_address }}/{{ container_database }}?charset=utf8
idle_timeout = 200
min_pool_size = 5
max_pool_size = 10
pool_timeout = 200

[identity]
driver = {{ keystone_identity_driver|default('keystone.identity.backends.sql.Identity') }}
{% if keystone_ldap_domain_config_dir is defined %}
domain_config_dir = {{ keystone_ldap_domain_config_dir }}
domain_specific_drivers_enabled = True
{% endif %}

[assignment]
driver = keystone.assignment.backends.sql.Assignment
caching = true

[token]
enforce_token_bind = permissive
revocation_cache_time = 3600
expiration = 43200
caching = true
cache_time = 5400
provider = {{ token_provider }}
