## The default networking requires several bridges. These bridges were named to be informative
## however they can be named what ever you like and is adaptable to any network infrastructure
## environment. This file serves as an example of how to setup basic networking and was ONLY
## built for the purpose of being an example.

# EXAMPLE INTERFACE FILE
# 1293 - HOST_NET (Ignore This. It's the native VLAN.)
# 2176 - CONTAINER_NET
# 1998 - OVERLAY_NET
# 2144 - STORAGE_NET
# 2146 - GATEWAY_NET (VM Provider Network. Ignore this. OpenStack will tag for us.)

## Physical interface, could be bond. This only needs to be set once for the physical device
auto eth0
iface eth0 inet manual
    bond-master bond0
    bond-primary eth0

auto eth1
iface eth1 inet manual
    bond-master bond1
    bond-primary eth1

auto eth2
iface eth2 inet manual
    bond-master bond0

auto eth3
iface eth3 inet manual
    bond-master bond1

auto eth4
iface eth4 inet manual


## Create a bonded interface. Note that the "bond-slaves" is set to none. This is because the 
# bond-master has already been set in the raw interfaces for the new bond0.
auto bond0
iface bond0 inet static
    bond-slaves none
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 200
    bond-updelay 200
    address 10.240.0.100
    netmask 255.255.252.0
    gateway 10.240.0.1
    dns-nameservers 69.20.0.164 69.20.0.196

auto bond1
iface bond1 inet manual
    bond-slaves none
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 250
    bond-updelay 250


## Vlan tagged interface, this should be physical interface along with the vlan tag
# The vlan tag number should reflect your already setup vlans.

#STORAGE_NET
iface bond0.2144 inet manual
    vlan-raw-device bond0

#CONTAINER_NET
iface bond0.2176 inet manual
    vlan-raw-device bond0

#OVERLAY_NET
iface bond1.1998 inet manual
    vlan-raw-device bond1


## Required network bridges; br-vlan, br-vxlan, br-mgmt.
# Bridge for management network
auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice the bridge port is the vlan tagged interface
    bridge_ports bond0.2176
    address 172.29.236.100
    netmask 255.255.252.0
    dns-nameservers 69.20.0.164 69.20.0.196


# Bridge for vxlan network
# Only the COMPUTE nodes will have an IP on this bridge!
# When used by infra nodes, IPs exist in the containers and inet should be set to manual.
auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports bond1.1998
    address 172.29.240.100
    netmask 255.255.252.0


# Bridge for vlan network
auto br-vlan
iface br-vlan inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice this bridge port is an Untagged host interface
    bridge_ports bond1


# Bridge for storage network
# Only the COMPUTE nodes will have an IP on this bridge!
# When used by infra nodes, IPs exist in the containers and inet should be set to manual.
auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports bond0.2144
    address 172.29.244.100
    netmask 255.255.252.0


# Bridge for servicenet network
# ALL nodes will have an IP on this bridge. If fact, it's the same IP.
# !! DO NOT PUT A PHYSICAL INTERFACE IN THIS BRIDGE ON THE HOST !!
# Will ue an iptables MASQUERADE rule to NAT traffic
auto br-snet
iface br-snet inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice there is NO physical interface in this bridge!
    address 172.29.248.1
    netmask 255.255.252.0
