# {{ ansible_managed }}

[DEFAULT]
# Show debugging output in log (sets DEBUG log level output).
verbose = {{ verbose | bool }}
debug = {{ debug | bool }}

# The LBaaS agent will resync its state with Neutron to recover from any
# transient notification or rpc errors. The interval is number of
# seconds between attempts.
periodic_interval = 10

# LBaas requires an interface driver be set. Choose the one that best
# matches your plugin.
# Examples:
# interface_driver = neutron.agent.linux.interface.OVSInterfaceDriver
# interface_driver = neutron.agent.linux.interface.BridgeInterfaceDriver
interface_driver = {{ neutron_driver_interface }}

# Use veth for an OVS interface or not.
# Support kernels with limited namespace support
# (e.g. RHEL 6.5) so long as ovs_use_veth is set to True.
# ovs_use_veth = False

# The agent requires drivers to manage the loadbalancer.  HAProxy is the opensource version.
# Multiple device drivers reflecting different service providers could be specified:
# device_driver = path.to.provider1.driver.Driver
# device_driver = path.to.provider2.driver.Driver
# Default is:
device_driver = neutron_lbaas.services.loadbalancer.drivers.haproxy.namespace_driver.HaproxyNSDriver

[haproxy]
# Location to store config and state files
# loadbalancer_state_path = $state_path/lbaas

# The user group
user_group = nogroup

# When delete and re-add the same vip, send this many gratuitous ARPs to flush
# the ARP cache in the Router. Set it below or equal to 0 to disable this feature.
send_gratuitous_arp = 3
