# {{ ansible_managed }}

{% set _api_threads = ansible_processor_vcpus|default(2) // 2 %}
{% set api_threads = _api_threads if _api_threads > 0 else 1 %}

[DEFAULT]
verbose = {{ verbose }}
debug = {{ debug }}

# The Neutron user information for accessing the Neutron API.
auth_url = {{ keystone_service_adminurl }}
auth_region = {{ keystone_service_region }}
endpoint_type = adminURL

# TCP Port used by Nova metadata server
nova_metadata_ip = {{ internal_lb_vip_address }}
nova_metadata_port = {{ nova_metadata_port }}

# Admin authentication
admin_tenant_name = {{ neutron_service_tenant_name }}
admin_user = {{ neutron_service_user_name }}
admin_password = {{ neutron_service_password }}

# Number of backlog requests to configure the metadata server socket with
metadata_proxy_shared_secret = {{ nova_metadata_proxy_secret }}
metadata_workers = {{ neutron_metadata_workers | default(api_threads) }}
metadata_backlog = {{ neutron_metadata_backlog }}

# Metadata Caching
cache_url = memory://?default_ttl=5
