# {{ ansible_managed }}

[DEFAULT]
verbose = {{ verbose }}
debug = {{ debug }}

driver = {{ neutron_driver_metering }}
interface_driver = {{ neutron_driver_interface }}
measure_interval = 30

[AGENT]
report_interval = 30
