# {{ ansible_managed }}

[global]
no-index = {{ pip_no_index }}
pre = {{ pip_enable_pre_releases }}
timeout = {{ pip_timeout }}

[install]
upgrade = {{ pip_upgrade }}
allow_all_external = {{ pip_allow_all_external }}
