#Config file for Neutron PLUMgrid Plugin

[plumgriddirector]
# This line should point to the PLUMgrid Director Virtual-IP,
# for the PLUMgrid Platform.
director_server={{ pg_vip }}
director_server_port={{ pg_ports['vip_port'] }}
# Authentification parameters for the Director.
# These are the admin credentials to manage and control
# the PLUMgrid Director server.
username={{ pg_username }}
password={{ pg_password }}
servertimeout=70
connection = mysql+pymysql://{{ neutron_galera_user }}:{{ neutron_container_mysql_password }}@{{ neutron_galera_address }}/{{ neutron_galera_database }}?charset=utf8

[l2gateway]
vendor={{ hardware_vendor_type }}
sw_username={{ switch_username }}
sw_password={{ switch_password }}
