# {{ ansible_managed }}

[DEFAULT]
verbose = {{ verbose }}
debug = {{ debug }}
use_syslog = False

log_file = /var/log/heat/heat.log

stack_domain_admin_password = {{ heat_stack_domain_admin_password }}
stack_domain_admin = {{ heat_stack_domain_admin }}
stack_user_domain_id = {{ hostvars[groups['heat_api'][0]]['stack_user_domain_id'] }}
deferred_auth_method = {{ heat_deferred_auth_method }}

auth_encryption_key = {{ heat_auth_encryption_key }}

heat_watch_server_url = {{ heat_watch_server_url }}
heat_waitcondition_server_url = {{ heat_waitcondition_server_url }}
heat_metadata_server_url = {{ heat_metadata_server_url }}


## RPC Backend
rpc_backend = {{ heat_rpc_backend }}


## RabbitMQ
rabbit_port = {{ rabbitmq_port }}
rabbit_userid = {{ rabbitmq_userid }}
rabbit_password = {{ rabbitmq_password }}
rabbit_hosts = {{ rabbitmq_servers }}


[clients]
endpoint_type = {{ heat_client_endpoint }}

[clients_ceilometer]
endpoint_type = {{ heat_client_endpoint }}

[clients_cinder]
endpoint_type = {{ heat_client_endpoint }}

[clients_glance]
endpoint_type = {{ heat_client_endpoint }}

[clients_heat]
endpoint_type = {{ heat_client_endpoint }}

[clients_keystone]
endpoint_type = {{ heat_client_endpoint }}

[clients_neutron]
endpoint_type = {{ heat_client_endpoint }}

[clients_nova]
endpoint_type = {{ heat_client_endpoint }}

[clients_swift]
endpoint_type = {{ heat_client_endpoint }}

[clients_trove]
endpoint_type = {{ heat_client_endpoint }}

[database]
connection = mysql://{{ heat_galera_user }}:{{ heat_container_mysql_password }}@{{ galera_address }}/{{ heat_galera_database }}?charset=utf8

[ec2authtoken]
auth_uri = {{ keystone_service_internaluri }}

[heat_api]
bind_port = {{ heat_service_port }}

[heat_api_cfn]
bind_port = {{ heat_cfn_service_port }}

[heat_api_cloudwatch]
bind_port = {{ heat_watch_port }}

[keystone_authtoken]
signing_dir = /var/cache/heat
identity_uri = {{ keystone_service_internaluri }}
auth_uri = {{ keystone_service_internaluri }}
admin_tenant_name = {{ heat_service_tenant_name }}
admin_user = {{ heat_service_user_name }}
admin_password = {{ heat_service_password }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300
revocation_cache_time = 60

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

# if your keystone deployment uses PKI, and you value security over performance:
check_revocations_for_cached = False
