# Use this file to fill in your third party collections or roles that you'd like to have added during bootstrap-ansible.sh.
# Collections with the same name will have prescedence and override ones provided in ansible-collection-requirements.yml
# Content of this file will be fed to ansible-galaxy binary, so it should be compatible with requirements.yml format.
# Example:
#   collections:
#   - name: openstack.cloud
#     source: https://github.com/os-cloud/ansible-collections-openstack
#     type: git
#     version: main
