# Use this file to define any needed environment variables that will be sourced
# by openstack-ansible binary after loading main RC fail.
# Example:
#    export ANSIBLE_INVENTORY="${ANSIBLE_INVENTORY},/opt/extra/inventory.py"
