# Use this file to fill in your third party libraries that you'd like to have
# installed inside Ansible virtual environment during bootstrap-ansible.sh.
# This file will be processed additionally to default requirements.txt and
# does not superceed it.
oauthlib>=3.2.0
