# Use this file to fill in your third party roles that you'd like to have added during bootstrap-ansible.sh.
# Roles with the same name will have prescedence and override ones provided in ansible-role-requirements.yml
# Example:
#  - name: galera_client
#    src: https://github.com/os-cloud/opc_role-galera_client
#    scm: git
#    version: master
