unset ANSIBLE_LIBRARY
unset ANSIBLE_FILTER_PLUGINS
unset ANSIBLE_ACTION_PLUGINS
unset ANSIBLE_CALLBACK_PLUGINS
unset ANSIBLE_TRANSPORT
unset ANSIBLE_STRATEGY
unset ANSIBLE_STRATEGY_PLUGINS
unset ANSIBLE_CONNECTION_PLUGINS
