[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8


[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0


[mysql]
default-character-set = utf8


[mysqld]
user = mysql
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8


# SAFETY #
max-allowed-packet = 16M
max-connect-errors = 1000000
max_connections = 500

# CACHES AND LIMITS #
tmp-table-size = 32M
max-heap-table-size = 32M
query-cache-type = 0
query-cache-size = 0M
max-connections = 500
thread-cache-size = 50
open-files-limit = 65535
table-definition-cache = 4096
table-open-cache = 10240

# INNODB #
innodb-flush-method = O_DIRECT
innodb-log-files-in-group = 2
innodb-log-file-size = 128M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table = 1
innodb-buffer-pool-size = 2G

datadir = /var/lib/mysql

# LOGGING #
log-queries-not-using-indexes = 1
slow-query-log = 1
slow-query-log-file = /var/log/mysql/mysql-slow.log
log_error = /var/log/mysql/galera_server_error.log
log-bin = /var/lib/mysql/mariadb-bin
log-bin-index = /var/lib/mysql/mariadb-bin.index

[mysqldump]
quick
quote-names
max_allowed_packet = 16M


!includedir /etc/mysql/conf.d/
