# {{ ansible_managed }}

global
        log 127.0.0.1 local0
        log 127.0.0.1 local1 notice
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon
        maxconn 4096
        tune.bufsize 384000
        stats socket /var/run/haproxy.stat level admin mode 600
        {% if haproxy_ssl | bool %}
        ssl-default-bind-options no-sslv3
        tune.ssl.default-dh-param {{haproxy_ssl_dh_param}}
        {% endif %}

defaults
        log global
        option dontlognull
        option redispatch
        retries 3
        timeout client 50s
        timeout connect 10s
        timeout server 50s
        maxconn 4096

{% if haproxy_stats_enabled | bool %}
listen stats {{ haproxy_stats_bind_address }}:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats show-node
    stats show-legends
    stats auth {{ haproxy_username }}:{{ haproxy_stats_password }}
    stats admin if TRUE
{% endif %}
