#{{ ansible_managed}}

[DEFAULT]
auth_strategy = keystone
rpc_backend = rabbit
verbose = {{ verbose }}
debug = {{ debug }}

[oslo_messaging_rabbit]
rpc_backend = rabbit
rabbit_port = {{ rabbitmq_port }}
rabbit_userid = {{ aodh_rabbitmq_userid }}
rabbit_password = {{ aodh_rabbitmq_password }}
rabbit_virtual_host = {{ aodh_rabbitmq_vhost }}
rabbit_hosts = {{ rabbitmq_servers }}

[api]
port = {{ aodh_service_port }}

[database]
connection = {{ aodh_connection_string }}

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_plugin = {{ aodh_keystone_auth_plugin }}
signing_dir = {{ aodh_system_user_home }}/cache/api
auth_url = {{ keystone_service_adminuri }}
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ aodh_service_project_domain_id }}
user_domain_id = {{ aodh_service_user_domain_id }}
project_name = {{ aodh_service_project_name }}
username = {{ aodh_service_user_name }}
password = {{ aodh_service_password }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300
revocation_cache_time = 60

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

# if your keystone deployment uses PKI, and you value security over performance:
check_revocations_for_cached = False

[service_credentials]
os_auth_url = {{ keystone_service_internalurl }}
os_username = {{ aodh_service_user_name }}
os_tenant_name = {{ aodh_service_tenant_name }}
os_password = {{ aodh_service_password }}
os_region_name = {{ aodh_service_region }}
os_endpoint_type = {{ aodh_service_endpoint_type }}
