{
    "context_is_admin": "role:admin",
    "segregation": "rule:context_is_admin",
    "admin_or_owner": "rule:context_is_admin or project_id:%(project_id)s",
    "default": "rule:admin_or_owner",

    "telemetry:get_alarm": "rule:admin_or_owner",
    "telemetry:get_alarms": "rule:admin_or_owner",
    "telemetry:query_alarm": "rule:admin_or_owner",

    "telemetry:create_alarm": "",
    "telemetry:change_alarm": "rule:admin_or_owner",
    "telemetry:delete_alarm": "rule:admin_or_owner",

    "telemetry:get_alarm_state": "rule:admin_or_owner",
    "telemetry:change_alarm_state": "rule:admin_or_owner",

    "telemetry:alarm_history": "rule:admin_or_owner",
    "telemetry:query_alarm_history": "rule:admin_or_owner"
}
