# The compute hosts that will run the ceilometer compute agent. This list
# should contain every host in the compute_hosts list.
metering-compute_hosts:
  compute1:
    ip: 172.20.236.110

# The infra hosts that will run the central agents.
# For running Ceilometer in HA for workload partitioning, see
# http://docs.openstack.org/admin-guide/telemetry-data-collection.html#support-for-ha-deployment
metering-infra_hosts:
  infra1:
    ip: 172.20.236.111
  # See note regarding HA configuration above.
  infra2:
    ip: 172.20.236.112
  # See note regarding HA configuration above.
  infra3:
    ip: 172.20.236.113
