# The compute host that the ceilometer compute agent will be running on.
metering-compute_hosts:
  compute1:
    ip: 172.20.236.110

# The infra nodes that the central agents will be running on
metering-infra_hosts:
  infra1:
    ip: 172.20.236.111
  infra2:
    ip: 172.20.236.112
  infra3:
    ip: 172.20.236.113
