# The infra nodes that will be running the manila services
manila-infra_hosts:
  infra1:
    ip: 172.20.236.111
  infra2:
    ip: 172.20.236.112
  infra3:
    ip: 172.20.236.113

manila-data_hosts:
  data1:
    ip: 172.20.236.121
  data2:
    ip: 172.20.236.122
  data3:
    ip: 172.20.236.123
