#!/usr/bin/bash
# Creates metrics for billing summary, hourly and daily averages.
# As there is a delay in collection and rating we also add a delay to the rating command to avoid receiving zero value metrics.
# About 4 hours should be safe as of 2025-04-14

if [[ "${OS_AUTH_URL}" =~ .*test.* ]]; then
  export GROUP="ops2test"
else
  export GROUP="ops2"
fi

export BEGIN_1H=$(date -d "5 hours ago" "+%FT%H:00:00")
export BEGIN_24H=$(date -d "28 hours ago" "+%FT%H:00:00")
export BEGIN_30D=$(date -d "30 days ago 4 hours ago" "+%FT%H:00:00")
export END=$(date -d "4 hours ago" "+%FT%H:00:00")

export SUM_1H=$(/usr/local/bin/openstack rating summary get -a -f value -c Rate --begin "${BEGIN_1H}" --end "${END}")
export SUM_24H=$(/usr/local/bin/openstack rating summary get -a -f value -c Rate --begin "${BEGIN_24H}" --end "${END}")
export SUM_30D=$(/usr/local/bin/openstack rating summary get -a -f value -c Rate --begin "${BEGIN_30D}" --end "${END}")

echo "openstack_rating_sum_1h{group=\"${GROUP}\"} ${SUM_1H}"
echo "openstack_rating_sum_24h{group=\"${GROUP}\"} ${SUM_24H}"
echo "openstack_rating_sum_30d{group=\"${GROUP}\"} ${SUM_30D}"
