[defaults]
# Additional plugins
lookup_plugins = plugins/lookups

gathering = smart
hostfile = inventory
host_key_checking = False

# Setting forks should be based on your system. The Ansible defaults to 5,
# the os-lxc-hosts assumes that you have a system that can support
# OpenStack, thus it has been conservatively been set to 15
forks = 15

# Set color options
nocolor = 0

# SSH timeout
timeout = 120

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o TCPKeepAlive=yes -o ServerAliveInterval=5 -o ServerAliveCountMax=3
