DISTRIB_ID="OSAD"
DISTRIB_RELEASE="{{ openstack_release }}"
DISTRIB_CODENAME="{{ openstack_code_name }}"
DISTRIB_DESCRIPTION="OpenStack {{ openstack_code_name }} deployed by os-ansible-deployment {{ openstack_release }}"
