# {{ ansible_managed }}

{% for item in apt_pinned_packages %}

{% if item.version is defined %}
Package: {{ item.package }}
Pin: version {{ item.version }}
Pin-Priority: {{ item.priority | default(apt_package_pinning_priority) }}
{% endif %}

{% if item.origin is defined %}
Package: {{ item.package }}
Pin: origin {{ item.origin }}
Pin-Priority: {{ item.priority | default(apt_package_pinning_priority) }}
{% endif %}

{% if item.release is defined %}
Package: {{ item.package }}
Pin: release o={{ item.release }}
Pin-Priority: {{ item.priority | default(apt_package_pinning_priority) }}
{% endif %}

{% endfor %}
